{% extends 'layouts/base.html' %}
{% load static %}
{% load itsm_custom_tags %}
{% block extrastyle %}
  <link rel="stylesheet"
        href="{% static 'assets/css/plugins/style.css' %}"
        xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet"
        href="{% static 'assets/css/plugins/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/connector.css' %}">
{% endblock extrastyle %}
{% block content %}
  <!-- [ Timeline Menu ] start -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button"
                    class="btn btn-outline-primary {% if param == 'All' %}active{% endif %}"
                    data-toggle="button"
                    name="problems_timeline"
                    id="all_problems">All</button>
          </li>
          <li class="nav-item">
            <button type="button"
                    class="btn btn-outline-primary {% if param == 'Today' %}active{% endif %}"
                    data-toggle="button"
                    name="problems_timeline"
                    id="today_problems">Today</button>
          </li>
          <li class="nav-item">
            <button type="button"
                    class="btn btn-outline-primary {% if param == 'Seven' %}active{% endif %}"
                    data-toggle="button"
                    name="problems_timeline"
                    id="seven_days_problems">7 Days</button>
          </li>
          <li class="nav-item">
            <div class="btn-group" role="group">
              <button id="month_dropdown"
                      type="button"
                      class="btn btn-outline-primary dropdown-toggle"
                      data-bs-toggle="dropdown">Year</button>
              <ul class="dropdown-menu">
                {% for year in year_data %}
                  <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle"
                       data-bs-toggle="dropdown"
                       id="{{ year }}"
                       href="{% url 'dashboards:problem-management' %}?param=Year&year={{ year }}">{{ year }}</a>
                    <ul class="dropdown-menu dropdown-toggle" aria-labelledby="{{ year }}">
                      {% for month in prb_month_enums %}
                        <li>
                          <a class="dropdown-item"
                             href="{% url 'dashboards:problem-management' %}?param=Months&month={{ month }}&year={{ year }}"
                             id="{{ month }}">{{ month }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
        <span class="navbar-text" id="date_range">
          <b>{{ info_title }}</b> {{ from_date }} {{ middle_symbol }} {{ to_date }}
        </span>
      </div>
    </div>
  </nav>
  <div class="container">
    <br>
  </div>
  <!-- [ Timeline Menu ] end -->
  <!-- [ Incidents Dashboard ] start -->
  <div class="row">
    <!-- [ Incidents Information's ] start -->
    <div class="col-md-6 col-xl-2">
      <div class="card bg-c-blue order-card">
        <div class="card-body">
          <h6 class="text-white">Total Problems</h6>
          <h2 class="text-end text-white">
            <i class="feather icon-bookmark float-start"></i><span>
              <a class="text-white" id="total_problems_btn" href="#">{{ total_problems_count }}</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-2">
      <div class="card bg-c-green order-card">
        <div class="card-body">
          <h6 class="text-white">Open Problems</h6>
          <h2 class="text-end text-white">
            <i class="feather icon-anchor float-start"></i><span>
              <a class="text-white" id="open_problems_btn" href="#">{{ open_problems_count }}</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-body">
          <h6 class="text-white">Fix In-progress Problems</h6>
          <h2 class="text-end text-white">
            <i class="feather icon-activity float-start"></i><span>
              <a class="text-white" id="in_progress_problems_btn" href="#">{{ fix_in_progress_count }}</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-red order-card">
        <div class="card-body">
          <h6 class="text-white">Resolved Problems</h6>
          <h2 class="text-end text-white">
            <i class="feather icon-bell float-start"></i><span>
              <a class="text-white" id="resolved_problems_btn" href="#">{{ resolved_problem_count }}</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-2">
      <div class="card bg-c-purple order-card">
        <div class="card-body">
          <h6 class="text-white">Closed Problems</h6>
          <h2 class="text-end text-white">
            <i class="feather icon-award float-start"></i><span>
              <a class="text-white" id="closed_problems_btn" href="#">{{ closed_problem_count }}</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
    <!-- [ Incidents Information's ] end -->
    <!-- [ Incidents Statistics ] start -->
    <div class="col-md-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Problems Category</h5>
        </div>
        <div class="card-body">
          <div id="problem-category-bar-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Problems grouped - Based on priority status</h5>
        </div>
        <div class="card-body">
          <div id="problem-priority-bar-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card comp-card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="m-b-20">Problems open for more than 30 days</h6>
              <h3 class="text-c-blue">{{ open_problems_thirty_days_count }}</h3>
            </div>
            <div class="col-auto">
              <i class="fas fa-eye badge-light-primary"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card comp-card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="m-b-20">Unassigned Problems</h6>
              <h3 class="text-c-red">
                <a id="unassigned_problems_btn" href="#">{{ unassigned_problems_count }}</a>
              </h3>
            </div>
            <div class="col-auto">
              <i class="fas fa-envelope badge-light-info"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Incidents Statistics ] end -->
    <!-- [ incidents-table ] start -->
    <div class="col-xl-12 col-md-12">
      <div class="card table-card">
        <div class="card-block table-border-style">
          <div class="table-responsive">
            <table class="table table-striped"
                   id="problems-dt-filter"
                   style="width: 100%">
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- [ incidents-table ] end -->
  </div>
  <!-- [ Incidents Dashboard ] end -->
{% endblock content %}
{% block extra_js %}
  <script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jquery-3.6.4.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/datatables.min.js' %}"></script>
  <!-- custom-chart js -->
  <script>
    // takes value from clicked button and sends it to the view
    // removes the need to hard code the parameters in the menu, preventing accordion collapse
    $(document).ready(function() {
      $('.nav-item button').on("click", function() {
        let timeRangeValue = $(this).html();
        if (timeRangeValue == "7 Days") {
          timeRangeValue = "Seven"
        }

        location.href = location.origin + "{{ refresh_url }}" + "?param=" + timeRangeValue;
      });
    });

<!--    [ problems-category-bar-chart ] start-->
    (function () {
        var options = {
            chart: {
                height: 350,
                type: 'bar',
                stacked: true,
                stackType: '100%',
                toolbar: {
                    tools: {
                        download: false
                    }
                }
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                },
            },
            colors: ["#4099ff", "#00bcd4", "#0e9e4a", "#FFB64D", "#FF5370"],
            stroke: {
                width: 1,
                colors: ['#fff']
            },
            series: [{
                name: 'Open',
                data: {{ prb_category_open_values }}
            }, {
                name: 'Fix-In-progress',
                data: {{ prb_category_fix_in_progress_values }}
            }, {
                name: 'Closed',
                data: {{ prb_category_closed_values }}
            }, {
                name: 'Unassigned',
                data: {{ prb_category_unassigned_values }}
            }],
            xaxis: {
                categories: {{ prb_category_values|safe }},
            },

            tooltip: {
                y: {
                    formatter: function(val) {
                        return val + " incidents"
                    }
                }
            },
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'light',
                    type: "horizontal",
                    shadeIntensity: 0.25,
                    inverseColors: true,
                    opacityFrom: 0.9,
                    opacityTo: 1,
                    stops: [0, 50]
                },
            },
            legend: {
                position: 'top',
                horizontalAlign: 'center',
                offsetX: 40
            }
        }
        var chart = new ApexCharts(
            document.querySelector("#problem-category-bar-chart"),
            options
        );
        chart.render();
    })();
<!--    [ problems-category-bar-chart ] end-->
<!--    [ problems-priority-bar-chart ] start-->
    (function () {
        var options = {
            chart: {
                height: 350,
                type: 'bar',
                toolbar: {
                    tools: {
                        download: false
                    }
                }
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            colors: ["#0e9e4a", "#4099ff", "#FF5370", "#000000"],
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'light',
                    type: "vertical",
                    shadeIntensity: 0.25,
                    inverseColors: true,
                    opacityFrom: 1,
                    opacityTo: 0.7,
                    stops: [50, 100]
                },
            },
            series: [{
                name: 'Open',
                data: {{ chart_open_prb_priority_count|safe }}
            }, {
                name: 'Fix-In-progress',
                data: {{ chart_fix_in_prb_priority_count|safe }}
            }, {
                name: 'Closed',
                data: {{ chart_closed_prb_priority_count|safe }}
            }, {
                name: 'Unassigned',
                data: {{ chart_unassigned_prb_priority_count|safe }}
            }],
            xaxis: {
                categories: {{ prb_priority_groups|safe }}
            },
            yaxis: {
                title: {
                    text: 'Problems Count'
                }
            },
            tooltip: {
                y: {
                    formatter: function(val) {
                        return val + " problems"
                    }
                }
            }
        }
        var chart = new ApexCharts(
            document.querySelector("#problem-priority-bar-chart"),
            options
        );
        chart.render();
    })();
<!--    [ problems-priority-bar-chart ] end-->
<!--    [ problems-datatable ] start-->
        function format_date(date){
          var date_convert = new Date(date);
          var options = { year: 'numeric', month: 'long', day: 'numeric' };
          var date_format = new Intl.DateTimeFormat('en-US', options);
          return date_format.format(date_convert)
        }

        function first_letter_capitalize(string){
          var string_capitalize = string.charAt(0).toUpperCase() + string.slice(1);
          return string_capitalize.toString();
        }

        let incTable = $('#problems-dt-filter').DataTable({
          processing: true,
          responsive: true,
          ordering: true,
          serverSide:true,
          ajax: {
              "type": "GET",
              "url" : "{% url 'dashboards:ajax_problems_datatable' %}",
              "contentType": "application/json",
              "headers": {
                  "X-CSRTToken": "{{ csrf_token }}"
              },
              "error": function (xhr, error, thrown) {
                  alert("Error occurred:\n" + xhr.status + ": " + xhr.statusText);
              }
          },
          deferRender: true,
          columns: [
              {
                  title: "Number",
                  data: 'number',
                  searchable: true,
                  orderable: true,
              },
              {
                  title: "Opened",
                  data: 'opened_at',
                  render: function(data){
                    return format_date(data);
                  },
                  searchable: true,
                  orderable: true,
              },
              {
                  title: "Short Description",
                  data: 'short_description',
                  searchable: true,
                  orderable: true,
              },
              {
                  title: "Priority",
                  data: 'priority',
                  render: function(data){
                    if(data==1){
                      return "Critical";
                    } else if(data==2){
                      return "High";
                    } else if(data==3){
                      return "Moderate";
                    } else if(data==4){
                      return "Low";
                    } else if(data==5){
                      return "Planning";
                    }
                  },
                  searchable: true,
                  orderable: true,
              },
              {
                  title: "State",
                  data: 'state',
                  render: function(data){
                    if(data==101){
                      return "New";
                    } else if(data==102){
                      return "Assess";
                    } else if(data==103){
                      return "Root Cause Analysis";
                    } else if(data==104){
                      return "Fix in Progress";
                    } else if(data==106){
                      return "Resolved";
                    } else if(data==107){
                      return "Closed";
                    }
                  },
                  searchable: true,
                  orderable: true,
              },
              {
                  title: "Category",
                  data: 'category',
                  render: function(data){
                    if(data){
                      return first_letter_capitalize(data);
                    } else {
                      return "";
                    }
                  },
                  searchable: true,
                  orderable: true,
              },
          ]
        });

    let searchParams = new URLSearchParams(window.location.search);
    let paramsValue = searchParams.get('param');
    let month_value = searchParams.get('month');
    let year_value = searchParams.get('year');
    let day_value = searchParams.get('day');

    if (paramsValue == "All"){
      $("#all_problems").addClass("active");
    } else if (paramsValue == "Today"){
      $("#today_problems").addClass("active");
    } else if (paramsValue == "Seven"){
      $("#seven_days_problems").addClass("active");
    }

    if (paramsValue == "All") {
      $("#total_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}").load();
       });
      $("#open_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=101&day="+paramsValue).load();
       });
      $("#in_progress_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=104&day="+paramsValue).load();
       });
      $("#resolved_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=106&day="+paramsValue).load();
       });
      $("#closed_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=107&day="+paramsValue).load();
       });
      $("#unassigned_problems_btn").click(function(e){
        incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?day="+paramsValue+"&filter_param=unassigned").load();
      });
    } else if (paramsValue == "Today" || paramsValue == "Seven") {
      $(document).ready(function() {
        incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?day="+paramsValue).load();
      });
      $("#total_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?day="+paramsValue).load();
       });
      $("#open_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=101&day="+paramsValue).load();
       });
      $("#in_progress_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=104&day="+paramsValue).load();
       });
      $("#resolved_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=106&day="+paramsValue).load();
       });
      $("#closed_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=107&day="+paramsValue).load();
       });
      $("#unassigned_problems_btn").click(function(e){
        incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?day="+paramsValue+"&filter_param=unassigned").load();
      });
    } else if (paramsValue == "Months" || paramsValue == "Year") {
      $(document).ready(function() {
        incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?day="+paramsValue+"&month="+month_value+"&year="+year_value).load();
      });
      $("#total_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?day="+paramsValue+"&month="+month_value+"&year="+year_value).load();
       });
      $("#open_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=101&day="+paramsValue+"&month="+month_value+"&year="+year_value).load();
       });
      $("#in_progress_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=104&day="+paramsValue+"&month="+month_value+"&year="+year_value).load();
       });
      $("#resolved_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=106&day="+paramsValue+"&month="+month_value+"&year="+year_value).load();
       });
      $("#closed_problems_btn").click(function(e){
          incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?state=107&day="+paramsValue+"&month="+month_value+"&year="+year_value).load();
       });
      $("#unassigned_problems_btn").click(function(e){
        incTable.ajax.url("{% url 'dashboards:ajax_problems_datatable' %}?day="+paramsValue+"&filter_param=unassigned&month="+month_value+"&year="+year_value).load();
      });
    }
<!--    [ problems-datatable ] end-->
  </script>
{% endblock extra_js %}
